.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("dog.jpg");
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("dog2.jpg");
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("dog3.jpg");
}
